*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F7F7F7;
  font-family: "Inter", sans-serif;
}

section{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.calculadora-container{
  max-width: 450px;
  width: 100%;
  background: #FFFFFF;
  padding: 40px 40px;
  border-radius: 16px;
}

h1{
  text-align: center;
  font-size: 24px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.campo-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo-container label{
  color: #000;
  font-weight: 500;
}

.campo-container input{
  height: 35px;
  border-radius: 4px;
  padding: 0px 12px;
  font-size: 18px;
}

form button{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  background: #03943C;
  color: #fff;
  font-size: 18px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover{
  background: #077030;
  transition: 0.3s;
}

.resultado-container {
  max-width: 300px;
  width: 100%;
  margin: 50px auto 0px;
  background: #F7F7F7;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.resultado-container h2{
  display: flex;
  flex-direction: column;
  color: #077030;
  text-align: center;
}

.resultado-container h2 span{
  color: #000;
  font-size: 16px;
}